@charset "UTF-8";
.toggle-mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 25px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #ff950c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: MuseoSansCyrl900I;
  src: url(../fonts/MuseoSansCyrl_900_Italic.otf); }

@font-face {
  font-family: MuseoSansCyrl900;
  src: url(../fonts/MuseoSansCyrl_900.otf); }

@font-face {
  font-family: MuseoSansCyrl700;
  src: url(../fonts/MuseoSansCyrl_700.otf); }

@font-face {
  font-family: MuseoSansCyrl500;
  src: url(../fonts/MuseoSansCyrl_500.otf); }

@font-face {
  font-family: MuseoSansCyrl300;
  src: url(../fonts/MuseoSansCyrl_300.otf); }

@font-face {
  font-family: MuseoSansCyrl700I;
  src: url(../fonts/MuseoSansCyrl_700_Italic.otf); }

@font-face {
  font-family: MuseoSansCyrl300I;
  src: url(../fonts/MuseoSansCyrl_300_Italic.otf); }

.wrapper {
  width: 100%;
  margin: auto; }

.w_1200 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

b, strong {
  font-family: MuseoSansCyrl700; }

.top {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  height: 64px; }

.top_mnu {
  margin-top: 27px;
  float: right; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1; }
  .top_mnu a {
    color: #424242;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 7px;
    line-height: 1; }
    .top_mnu a:hover {
      border: 2px solid #ff9000;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-decoration: none; }

.active a {
  border: 2px solid #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none; }

.top_phone {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 18px;
  text-transform: uppercase;
  float: left;
  background: url("../img/top_icon_phone.png") no-repeat left center;
  padding-left: 22px;
  margin-top: 14px; }

.top_mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 17px;
  float: right; }
  .top_mail a {
    color: #ff950c;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    text-decoration: underline;
    float: left;
    font-weight: 700;
    background: url("../img/top_icon_mail.png") no-repeat left center;
    padding-left: 22px; }

.top_adress {
  float: left;
  background: url("../img/top_icon_adress.png") no-repeat left center;
  padding-left: 22px;
  color: #2f2f2f;
  font-family: MuseoSansCyrl500;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.2;
  min-height: 14px; }

.nopadding {
  padding: 0 !important; }

.nopadding-l {
  padding-left: 0 !important; }

.nopadding-r {
  padding-right: 0 !important; }

.slider_wrap {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .slider_wrap .like_h2 {
    color: black;
    font-family: MuseoSansCyrl900I;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0; }

.slider_ul {
  z-index: 10; }

.slider_text {
  position: absolute;
  top: 55px;
  left: 42px; }
  .slider_text li {
    min-height: 22px;
    color: black;
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    margin-bottom: 14px;
    padding-left: 40px;
    background: url("../img/check_li.png") no-repeat left center; }

/**************************************************/
.slider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.top_slider_wrap {
  margin-bottom: 30px; }

.slides {
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.slide {
  height: 100%;
  float: left;
  clear: none; }

.box {
  position: relative; }

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  background-color: #000;
  opacity: 0.3;
  text-decoration: none;
  color: #FFF;
  font-family: Verdana;
  display: none;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .slider-arrow:hover {
    opacity: 0.5; }

.slider-arrow--right {
  bottom: 50%;
  right: 0; }

.slider-arrow--left {
  bottom: 50%;
  left: 0; }

.slider-nav {
  position: absolute;
  bottom: 15px;
  z-index: 100; }

.slider-nav__item {
  width: 7px;
  height: 7px;
  float: left;
  clear: none;
  display: block;
  margin: 0 1.5px;
  background: #000;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .slider-nav__item:focus {
    outline: none; }

.slider-nav__item--current {
  background-color: #ff9000; }

/**************************************************/
.left_mnu {
  width: 270px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 3px solid #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 0 0; }
  .left_mnu .like_h2 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 20px; }
  .left_mnu a {
    font-family: MuseoSansCyrl500;
    display: block;
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #DAD9D7;
    line-height: 1.2; }
    .left_mnu a:hover {
      background-color: #ff9000;
      text-decoration: none; }

.main_content {
  padding-bottom: 20px;
  overflow: hidden; }

.content {
  float: right;
  width: 870px;
  color: #2f2f2f;
  font-family: MuseoSansCyrl300;
  font-size: 15px;
  line-height: 21px; }
  .content p {
    margin-bottom: 20px; }
    .content p:last-child {
      margin-bottom: 0; }

h1 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 30px;
  margin-bottom: 35px;
  line-height: 1; }

h2 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 24px;
  margin-bottom: 20px; }

h3 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl900;
  font-size: 18px;
  margin-bottom: 20px; }

.img_block {
  width: 100%;
  background-color: #f2f2f2;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-bottom: 25px; }
  .img_block img {
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.floatleft {
  float: left;
  margin: 0 30px 15px 0; }

.floatright {
  float: right;
  margin: 0 0 15px 30px; }

.price_table {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }
  .price_table td {
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: middle; }
  .price_table tr:first-child {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden; }
    .price_table tr:first-child td {
      background-color: #E0E0E0; }
  .price_table td {
    padding: 15px; }
  .price_table tbody tr {
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px; }
  .price_table tbody td {
    border-bottom: 1px solid #e0e0e0; }
    .price_table tbody td:nth-child(2n-1) {
      width: 50%; }
    .price_table tbody td:nth-child(2n) {
      width: 30%; }

.last_news {
  margin-top: 45px; }
  .last_news .like_h3 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    margin-bottom: 30px; }
  .last_news a {
    display: block;
    float: left;
    margin-bottom: 25px;
    color: black;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    text-decoration: underline; }
    .last_news a:hover {
      text-decoration: none; }
  .last_news .all_lnews_link {
    display: block;
    text-align: left;
    color: #ff9000;
    font-family: MuseoSansCyrl700;
    font-size: 15px;
    text-decoration: underline; }
    .last_news .all_lnews_link:hover {
      text-decoration: none; }

.left_form {
  width: 270px;
  background-color: #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px; }
  .left_form .like_h3 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center; }
  .left_form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 39px;
    width: 100%;
    background-color: white;
    border: 2px solid #ffba60;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 0 15px;
    color: #2f2f2f;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    margin-bottom: 10px; }
  .left_form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 89px;
    background-color: white;
    border: 2px solid #ffba60;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 10px 15px;
    color: #2f2f2f;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    margin-bottom: 10px; }
  .left_form button {
    width: 100%;
    height: 39px;
    background-color: black;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    line-height: 18px; }

.left_widget_vk {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.footer {
  background-color: #F2F2F2;
  padding: 30px 0;
  overflow: hidden; }

.copy {
  color: #2f2f2f;
  font-family: MuseoSansCyrl300;
  font-size: 14px; }

.footer_adress {
  color: #2f2f2f;
  font-family: MuseoSansCyrl500;
  font-size: 12px;
  margin-left: 45px;
  padding-left: 20px;
  background: url("../img/top_icon_adress.png") no-repeat left center;
  min-height: 14px;
  line-height: 1.2;
  overflow: hidden; }

.footer_phone {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 18px;
  padding-left: 20px;
  margin-left: 30px;
  background: url("../img/top_icon_phone.png") no-repeat left center; }
  .footer_phone span {
    font-size: 12px;
    font-family: MuseoSansCyrl500; }

.footer_mail a {
  color: #ff950c;
  font-family: MuseoSansCyrl700;
  font-size: 14px;
  text-decoration: underline;
  padding-left: 20px;
  background: url("../img/top_icon_mail.png") no-repeat left center; }

.bread {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 12px;
  overflow: hidden;
  padding-bottom: 3px; }
  .bread li {
    float: left;
    font-size: 11px;
    text-transform: uppercase;
    font-family: MuseoSansCyrl700I;
    margin-bottom: 10px; }
    .bread li a {
      color: black;
      text-decoration: underline; }
      .bread li a:hover {
        text-decoration: none; }
      .bread li a:after {
        line-height: 0.8;
        font-size: 12px;
        font-family: MuseoSansCyrl700I;
        content: ">";
        float: right;
        margin-right: 5px;
        margin-left: 5px;
        display: inline; }
    .bread li span {
      color: #ff9000; }

.content li {
  margin-bottom: 13px;
  min-height: 22px; }

.content ul li {
  padding-left: 40px;
  background: url("../img/check_li.png") no-repeat left top; }

.content ol {
  list-style-type: none;
  counter-reset: num; }
  .content ol li:before {
    content: counter(num) ". ";
    counter-increment: num;
    color: #ff9000;
    font-family: MuseoSansCyrl900I;
    font-size: 18px;
    text-transform: uppercase; }

.lists {
  margin-bottom: 40px;
  overflow: hidden; }

.br5 {
  border-right: 5px; }

.imgs {
  margin-bottom: 50px;
  overflow: hidden; }

blockquote {
  background-color: #F2F2F2;
  color: #2f2f2f;
  font-family: MuseoSansCyrl300I;
  font-size: 15px;
  line-height: 21px;
  padding: 25px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative; }
  blockquote:before {
    content: '“';
    position: absolute;
    top: 10px;
    left: 5px;
    line-height: 1; }
  blockquote b {
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px; }
  blockquote:after {
    content: '”';
    margin-bottom: 15px;
    position: absolute;
    bottom: 15px;
    right: 35px; }
  blockquote:before, blockquote:after {
    color: #ff9000;
    font-family: "MV Boli";
    font-size: 72px;
    font-weight: 400; }

.ml0 {
  margin-left: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.tags {
  height: 50px;
  overflow: hidden;
  padding-top: 23px;
  border-top: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tags a {
    color: #ff9000;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    text-decoration: underline;
    margin-right: 30px;
    display: inline-block; }
    .tags a:hover {
      text-decoration: none; }
  .tags .all_tags, .tags .hide_tags {
    color: black; }

.hide_tags {
  display: none; }

.clear {
  clear: both; }

.right {
  float: right !important; }

.left {
  float: left !important; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .tags {
    position: relative;
    margin-bottom: 15px; }
    .tags a {
      margin-bottom: 10px; }
  .all_tags {
    position: absolute;
    right: 0;
    top: 23px;
    padding-left: 15px;
    background-color: #FFF; }
  .imgs img {
    width: 100%;
    height: 227px; }
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 45px;
    right: 0;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; }
  .top_phone {
    margin-right: 10px; }
  .top_mail {
    float: left; }
  .top_adress {
    float: left;
    text-align: left; }
  .col-mnu {
    float: right !important; }
  .col-contacts {
    float: left !important; }
  .content, .left_mnu, .left_form {
    width: 100%; }
  .footer_adress, .footer_phone {
    margin-left: 0; }
  .footer_adress {
    padding-left: 25px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .content ul {
    margin-bottom: 20px; }
  .lists {
    margin-bottom: 10px; }
  .imgs {
    margin-bottom: 20px; }
    .imgs img {
      width: auto;
      height: auto;
      float: left;
      margin-bottom: 10px !important; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    margin-bottom: 15px; }
  .footer_adress, .footer_phone, .footer_mail {
    text-align: center;
    background: none; }
  .footer_adress, .footer_phone {
    margin-bottom: 10px; }
  .last_news {
    display: none; }
  .col-logo {
    text-align: center; }
  .top {
    height: auto;
    margin-bottom: 0; }
  .top_adress {
    margin-bottom: 20px; }
  .logo {
    width: 100%;
    background-color: #FF9000;
    display: block;
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
    margin: auto; }
  .left_widget_vk {
    display: none; }
  .top_slider_wrap {
    overflow: hidden;
    background-color: #F5F5F5; } }

@media only screen and (max-width: 600px) {
  /**/ }

@media only screen and (max-width: 570px) {
  .top_mail, .top_phone, .top_adress {
    margin-top: 0;
    margin-bottom: 10px; }
  .logo {
    margin-bottom: 10px; }
  .price_table tbody td:nth-child(2n-1), .price_table tbody td:nth-child(2n) {
    width: auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slider_text {
    top: 40px;
    padding-right: 20px;
    overflow: hidden; }
  .slider_wrap .like_h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .slider_text li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5; }
  .price_table td {
    font-size: 13px; } }

@media only screen and (max-width: 400px) {
  .price_table td {
    font-size: 11px; }
  .slider_text {
    top: 40px; } }

@media only screen and (max-width: 360px) {
  h2 {
    font-size: 18px; } }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
